.elemContacts {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contactText {
    font-family: 'Oswald', sans-serif;
    color: #666 ;
  }

  .contactTextNumber {
    font-family: 'Montserrat', sans-serif;

  }

  .wrappertoBtn {
    border: 1px solid tomato;
  }

  
.btnDeleteFavorite {
    border:  none;
    background-color: inherit;
    color: #080404;
    cursor: pointer;
    padding-top: 5px;
    transition: all 0.2s ease-in-out;
   

  }

  .btnDeleteFavorite:hover {
       color: #d00303;
       transform: rotate(180deg);
  }

  
  .btnCall {
    display: block;
    border:  none;
    background-color: inherit;
    color: #080404;
    cursor: pointer;
    padding-top: 5px;
    transition: all 0.2s ease-in-out;
    
  }
   
  .btnCall:hover {
    color: #7e03d0;
    transform: scale(110%);
}


