/* Стили для формы */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100;1,300&family=Oswald:wght@200;400&display=swap');

.form {
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
}

/* Стили для меток */
.label {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Стили для ввода */
.input {
    font-family: 'Montserrat', sans-serif;
    width: 100%; /* Set width to 100% to take the full width of the container */
    box-sizing: border-box; /* Include padding and border in the element's total width */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
}

/* Стили для кнопки "Add contact" */
.submitBtn {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.submitBtn:hover {
    background-color: #2980b9;
}
